# Server
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=eco_alert_brc
DB_USER=postgres
DB_PASSWORD=123456789

# JWT
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Web Push (VAPID)
VAPID_PUBLIC_KEY=BFRQ7fq1McN82TnNnAQE5b93fwyyAfqExka1FHQB0epprJltjTPsa4RSZKLML738bGJ3xOcjIoKGp6zT8hv5f0A
VAPID_PRIVATE_KEY=MMcWxOyHtyHUcAxA4HuExvxd1H9Zf59gjkG4CDCcF9U